#header {
  width:100;
  min-height:40px;
  background:#12f;
  margin:-8px;
  color:white;
  padding:5px;
  box-sizing: border-box;
}

a.headerselect {
  color:white;
  text-decoration:none;
  border-bottom:3px solid white;
  font-weight:bold;
}

a.header {
  display:inline-block;
  padding:.5em;
  margin-left:0em;
  color:white;
}

.fightDataCard {
  width:220px;
  display:inline-block;
  padding:1%;
  margin:0px;
  margin-bottom:8px;
  background:#eee;
}

button {
  background: #1122ff;
  padding:.4em;
  color:white;
  border:none;
  border-radius:2px;
  font-size:1em;
  top: 0px;
}

h3 {
  margin:0;
}

.reportBox {
  background:#eee;
  width:150px;
  padding:.8%;
  margin:0px;
  margin-bottom:8px;
  display:inline-block;
}
body{
  font-family:sans-serif;
}

#radiowrapper {
  outline:1px soild black;
  display: inline-block;
  padding:10px;
  margin:10px;
  margin-left:0;
  width:200px;
  padding-left:0;
}

#checkwrapper {
  margin:10px;
  outline:1px soild black;
  display: inline-block;
  padding:10px;
}

.medwidthinput {
  width:120px;
  margin-bottom:4px;  
}
