body {
  font-family: sans-serif;
  width: 300px;
  line-height:1.5em;
}
input {
  width:100px;
  float:right;
}

#generatedResult {
  width:180px;
}

select {
  float:right;
}

.bloc-header {
  margin-bottom: 200px;
}

.bloc {
  height: 200px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: solid grey 1px;
}

.bloc select {
  padding: 10px;
  margin: -5px -20px -5px -5px;
}

button {
    padding-left:.8em;
    padding-right:.8em;
    padding-top:.4em;
    padding-bottom:.4em;
    background: #1122ff;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 1em;

    top: 0px;
}
