body {
 font-family:'Roboto',sans-serif;
  background: #eee;
  color:#333;
  font-size:11pt;
}
.wrapper {
  width:300px;
    line-height:1.5em;
}
#header {
  width:100;
  min-height:40px;
  background:#12f;
  margin:-8px;
  color:white;
  padding:5px;
  box-sizing: border-box;
}


#header {
  min-height:40px;
  background:#2530ba;
  margin:-8px;
  color:rgba(255,255,255,.85);
  padding:5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#navwrap {
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
}
.navlink {
  max-width:100px;
}

#navoverwrap {
  display:flex;
  justify-content: space-between;
  align-items:center;
}

a.header {
  display:inline-block;
  margin-left:0em;
  color: rgba(255,255,255,.85);
  font-size:10pt;
  text-decoration:none;
}

#navtitle{
  display:flex;
  align-items:center;
}


#generatedResult {
  width:180px;
}


.bloc-header {
  margin-bottom: 200px;
}

.bloc {
  height: 200px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: solid grey 1px;
}

.bloc select {
  padding: 10px;
  margin: -5px -20px -5px -5px;
}


.mainbutton {
      padding:10px 16px;
  font-family:'Roboto',sans-serif;
  font-weight:100;
  background-color:#2530ba;
  border:0px;
  color:#fff;
  font-size:14px;
  min-width:64px;
}

#howtotrain {
  width: 600px;
    border1:1px solid #bbb;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index:100;
  padding:10px;
  padding-bottom: 30px;
  left: 50%;
  margin-left: -350px;
  position: fixed;
  top:30px;
  background:white;
  display:none;
  transition: display 2s;
}

#contentwrap {
  display:flex;
}

#outputwrap {
  margin-left:20px;
  background:none;
  min-width:400px;
}

#optionswrap {
}

h3 {
  margin-bottom:7px;
}

#popupopen {
  text-decoration: underline
}

select {
  background:#eee;
  border:none;
  border-bottom: 2px solid #ccc;
  color:#333;
  margin-bottom:15px;
  width:200px;
}

textarea:focus, input:focus{
    outline: none;
}


label {
  font-size:8pt;
  display:block;
  transition:.2s ease all;
  color: #555;
  bottom:-5px;
  position:relative;
}

input {
  margin-bottom:15px;
  border:none;
  border-bottom:2px solid #ccc;
  transition:.2s ease all;
  width:200px;
  background:#eee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background:none;
  border:none;
  text-transform:uppercase;

    border: none;
    border-radius: 2px;
  padding-top:.3em;
  padding-bottom:.3em;
  margin-left:5px;
}

#historybox {
  max-height:150px;
  overflow:auto;
  
}
